<% if (type.includes('image')) { %> 
    <div class="file-template image-url" style="background-image: <%= imgPath %>"></div>
<% } else if (type.includes('audio')) { %>
    <div class="file-template audio-url">
        <audio src="<%= url %>" id="player"></audio>
        <div> 
            <button onclick="document.getElementById('player').play()">
                <%- include('../partials/svgs/audio/play') %>
            </button> 
            <button onclick="document.getElementById('player').pause()">
                <%- include('../partials/svgs/audio/pause') %>
            </button> 
            <button onclick="document.getElementById('player').volume += 0.1">
                <%- include('../partials/svgs/audio/increase-vol') %>
            </button> 
            <button onclick="document.getElementById('player').volume -= 0.1">
                <%- include('../partials/svgs/audio/decrease-vol') %>
            </button> 
        </div>
    </div>
<% } else if (type.includes('pdf')) { %>
    <iframe src="<%= url %>#toolbar=0" class="file-template"></iframe>
<% } else if (type.includes('word')) { %>
    <div class="file-template"><%- include('../partials/svgs/big-icons/word-icon') %></div>
<% } else if (type.includes('presentation')) { %>
    <div class="file-template"><%- include('../partials/svgs/big-icons/powerpoint-icon') %></div>
<% } else if (type.includes('sheet') || name.includes('ods')) { %>
    <div class="file-template"><%- include('../partials/svgs/big-icons/excel-icon') %></div>
<% } else if (type.includes('quicktime') || type.includes('avif')) { %>
    <div class="file-template empty-file-template"> I am a type of video that cannot be displayed ;-;</div>
<% } else if (type.includes('video')) { %>
    <object data="<%= url %>" class="file-template"></object>
<% } else if (name.includes('otf') || name.includes('ttf') || name.includes('woff') || name.includes('woff2')) { %>
    <div class="file-template"><%- include('../partials/svgs/big-icons/font-icon') %></div>
<% } else if (type.includes('html') || type.includes('css') || type.includes('javascript')) { %>
    <object data="<%= url %>" class="file-template" style="background-color: #ccc;"></object>
<% } else if (type.includes('plain')) { %>
    <iframe src="<%= url %>#toolbar=0" class="file-template"></iframe>
<% } else if (type.includes('zip')) { %>
    <div class="file-template"><%- include('../partials/svgs/small-icons/zip', { classSpec: 'big-file-icon' }) %></div>
<% } else { %>
    <div class="file-template empty-file-template"> I don't know what I am :/</div>
<% } %>

<script>
    var audio = document.querySelector("#player");
    if (audio) audio.volume = 0.1;
</script>